<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nearby People Tracker</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="infectedForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter Person ID" type="text" formControlName="pid">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker" placeholder="Select Date" formControlName="date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-left">Show Map</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Map View</h4>
                    </div>
                    
                    <div class="card-body">
                        <div  class="map" id="map" class="match-parent"></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">People Statistics</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Sr.No</th>
                        <th class="tb-width">People ID</th>
                        <th>Distance(in Metres)</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Time</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let people of people;let i= index">
                            <td>{{i+1}}</td>
                            <td>{{people.pid}}</td>
                            <td [ngStyle]="people.distance<300?{backgroundColor:'red'}:{backgroundColor:'orange'}">{{people.distance}}</td>
                            <td >{{people.status}}</td>
                            <td>{{people.day}}/{{people.month}}/{{people.year}}</td>
                            <td >{{people.time}}</td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
  </div>